body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black !important;
    font-family: 'Open Sans', sans-serif !important;
}

.topHeader{
    background-image: url("cyberpunk.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    object-fit: cover;
        justify-content: center;
        align-items: center;
        
    }


        .headerTitle {
        font-family: 'Six Caps', sans-serif;
        font-size: 150px;
        font-weight: 400;
        color: white;
        background-color: transparent;
        text-shadow: 6px 4px 0px black;
        text-align: center;
        
    }

    .nav {
        padding: 12px 0px 12px 0px;
        justify-content: space-around;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
    }
    .nav>li>a:hover {
        text-decoration: none;
        background-color: red !important;
    }
    
    a {
        color: white !important;
    }

    .newsFeedContainer {
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        row-gap: 12px;
        column-gap: 12px;
        padding: 12px;
    }

    .card {
        background-color: black !important;
        color: white;
        border: 2px solid red !important;
    }

    .card:first-child {
        grid-column: 1 / -1;
        grid-row: 1;
        background-color: whitesmoke;
    }

    .card-img, .card-img-top {
        height: 300px !important;
        display: flex;
        object-fit: cover;
        
    }

    .card-title {
        font-size: 2.5rem;
    }

    .card-text {
        font-size: 1.2rem;
    }

    .bottom-card-content {
        display: flex;
        justify-content: space-between;
        /* background-color: yellowgreen; */
        align-items: flex-end;
       
    }

    .like-counter {
        margin: 0;
        padding-right: 7px;
        color: white;
        font-weight: bold;
    }

    .glyphicon, .glyphicon-thumbs-up{
       margin-top: 2px;
    }

    .likeCounter{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
        @media only screen
        and (min-width: 375px)
        and (max-width: 812px) {
            .nav {
                flex-direction: column;
                text-align: center;
            }

            .newsFeedContainer {
                display: flex;
                flex-direction: column;
            }
    
            .card {
                border-radius: 0px !important;
            }
    
            .card-img, .card-img-top {
                border-radius: 0px !important;
            }
        }
